MARIADB_ROOT_PASSWORD=asadasdsaasd
MARIADB_BACKUP_DBS=( ibs3 db2 db3 )
BACKUP_FOLDER=/home/user/scripts/backup
DOCKER_MARIADB_NAME=mariadb
REMOTE_HOST=192.168.178.0 
REMOTE_PORT=22
REMOTE_USER=root
REMOTE_DIR=/backup/something